	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/12/2017 07:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;        
font-style: normal;
}

.m_features2{
  padding: 50px 0;
}
.more-features2{
  background: #fff;
  padding: 30px 0;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: .6s;
  color: #666;
}
.more-features2 i{
  font-size: 40px;  
  margin-bottom: 10px;
  display: inline-block;
}
.more-features2 h4{ font-size: 15px; margin: 0;}
.more-features2:hover{
  transform: translateY(-7%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  background: #f96332;
  color: #fff;
}

.flaticon-social-media-4:before { content: "\f100"; }
.flaticon-social-media-3:before { content: "\f101"; }
.flaticon-social-media-2:before { content: "\f102"; }
.flaticon-w3-logo:before { content: "\f103"; }
.flaticon-squarespace-logo:before { content: "\f104"; }
.flaticon-sniper-shooting-target:before { content: "\f105"; }
.flaticon-folder:before { content: "\f106"; }
.flaticon-online-shop:before { content: "\f107"; }
.flaticon-chat:before { content: "\f108"; }
.flaticon-smiling-emoticon-square-face:before { content: "\f109"; }
.flaticon-tool:before { content: "\f10a"; }
.flaticon-speed-test:before { content: "\f10b"; }
.flaticon-settings-1:before { content: "\f10c"; }
.flaticon-controls-1:before { content: "\f10d"; }
.flaticon-controls:before { content: "\f10e"; }
.flaticon-settings:before { content: "\f10f"; }
.flaticon-menu:before { content: "\f110"; }
.flaticon-list-1:before { content: "\f111"; }
.flaticon-list:before { content: "\f112"; }
.flaticon-arrows:before { content: "\f113"; }
.flaticon-tag:before { content: "\f114"; }
.flaticon-free-1:before { content: "\f115"; }
.flaticon-price-tag:before { content: "\f116"; }
.flaticon-guarantee:before { content: "\f117"; }
.flaticon-discount:before { content: "\f118"; }
.flaticon-invoice:before { content: "\f119"; }
.flaticon-calendar:before { content: "\f11a"; }
.flaticon-social-media-1:before { content: "\f11b"; }
.flaticon-circle:before { content: "\f11c"; }
.flaticon-social:before { content: "\f11d"; }
.flaticon-logo:before { content: "\f11e"; }
.flaticon-social-media:before { content: "\f11f"; }
.flaticon-free:before { content: "\f120"; }
.flaticon-file:before { content: "\f121"; }
.flaticon-coding:before { content: "\f122"; }
.flaticon-paint-roller:before { content: "\f123"; }
.flaticon-paint-bucket:before { content: "\f124"; }
.flaticon-responsive-design-symbol:before { content: "\f125"; }
.flaticon-responsive:before { content: "\f126"; }
.flaticon-paint-palette-and-brush:before { content: "\f127"; }
.flaticon-graphic-desig:before { content: "\f128"; }
.flaticon-website-design-symbol:before { content: "\f129"; }
.flaticon-umbrella-1:before { content: "\f12a"; }
.flaticon-umbrella:before { content: "\f12b"; }
.flaticon-flash:before { content: "\f12c"; }
.flaticon-map-location:before { content: "\f12d"; }
.flaticon-envelope:before { content: "\f12e"; }
.flaticon-bar-chart:before { content: "\f12f"; }
.flaticon-repeat:before { content: "\f130"; }
.flaticon-correct:before { content: "\f131"; }
.flaticon-input:before { content: "\f132"; }
.flaticon-slider:before { content: "\f133"; }
.flaticon-timeline:before { content: "\f134"; }
.flaticon-accordion-menu:before { content: "\f135"; }
.flaticon-tabs:before { content: "\f136"; }
.flaticon-progress-bar:before { content: "\f137"; }
.flaticon-alarm-clock:before { content: "\f138"; }
.flaticon-drop:before { content: "\f139"; }
.flaticon-layers:before { content: "\f13a"; }
.flaticon-notification-bell:before { content: "\f13b"; }
.flaticon-green-energy:before { content: "\f13c"; }
.flaticon-rocket-ship:before { content: "\f13d"; }
.flaticon-audio-wave:before { content: "\f13e"; }
.flaticon-spreadsheet-cell-row:before { content: "\f13f"; }
.flaticon-star:before { content: "\f140"; }
.flaticon-font-symbol-of-letter-a:before { content: "\f141"; }