body {font-weight: 400;}

.font-15, .sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before, .right_chat .media .name, body, .card .card-inside-title, .card .header h2, .wizard .steps .number, .activity li a .info h4, .user_activity .b-accent .sl-item .sl-content h5, .weather2 .city-selected .night, .contact .c_list address i {
    font-size: 12px;
}
a {
    color: #6572b8;
}
h6, .h6 { font-size: 12px }

.card {    box-shadow: 0px 3px 4px 1px #a5a5a51f; }
.card .card-header {     background-color: #fff;    font-weight: 700;    text-transform: uppercase;    color: #6572b8; }

.card .nav-tabs>.nav-item>.nav-link {     font-size: 12px; }

.sidebar { width: 220px; }
section.content { margin-left: 220px; } 

.btn-round {
    border-radius: 5px !important;
    text-transform: uppercase;
}

.btn { font-family: 'Montserrat', Arial, Tahoma, sans-serif; }
@media(min-width: 1200px)
{
	.navbar {    width: calc(100% - 220px); }
}

.form-control { border-radius: 2px;    font-size: 14px;     }
.form-group .form-control, .input-group .form-control { padding: 10px; }

#NavBar .input-group-addon { border-radius: 0;     padding: 9px 9px 5px 0;}


.overflow-x {    overflow-x: auto !important;}
.no-overflow {    overflow-x: unset !important;}

.btn, .navbar .navbar-nav>a.btn {font-weight: 500;font-size: 14px;}

.theme-purple .navbar, .theme-purple .page-loader-wrapper {
    background: #7f252c;
}
.theme-purple section.content:before {
    background-color: #7f252c;
}

.theme-purple .btn-primary {
    background: #c13a43;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7a2329;
    border-color: #7e252a;
}
.theme-purple .btn-primary:active, .theme-purple .btn-primary:hover, .theme-purple .btn-primary:focus {
    background: #7f252b;
}

.switchery > small { top: -1px !important; }

h1,h2,h3,h4,h5,h6 {font-family: 'Montserrat', Arial, Tahoma, sans-serif;}

.media-thumbnail { cursor: pointer; }
.media-thumbnail:hover { opacity: 0.9;  }
.media-thumbnail .media-image {  }
.media-thumbnail .media-title { margin:10px 0;font-weight: 500; }

.yt-featured-player { background-color: #fff; margin-bottom: 20px;    }
.yt-featured-player iframe { width: 100%; height: 480px;  }
.yt-featured-player h4 { margin:0; padding: 10px; text-align: center; }