.card .card-header,.primary-panel-heading {color: #566e7a !important; }
.theme-purple .btn-primary {
    background: #566e7a;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #566e7a;
    border-color: #566e7a;
}
.theme-purple .btn-primary:active, .theme-purple .btn-primary:hover, .theme-purple .btn-primary:focus {
    background: #566e7a;
    color: #fff;
}
.theme-purple .btn-primary.btn-simple {
    border-color: #566e7a;
    color:#658a9d;
}

.theme-purple .btn-primary.btn-simple:hover,.theme-purple .btn-primary.btn-simple:active,.theme-purple .btn-primary.btn-simple:focus {
    color:#fff;
}
a{color: #658a9d}
a:hover{color: #566e7a}
.theme-purple .sidebar .menu .list li.active>:first-child i,.theme-purple .sidebar .menu .list li.active>:first-child span{color: #658a9d}
.btn-round {    border-radius: 4px !important;}
.cstm-header h2{font-size: 1vw !important}
.last_update{position: absolute;right: 45px;top: 102px;}
.last_update2{position: absolute;right: 45px;top: 191px;}
.social_icons a {
    padding: 5px 5px;
}
.sidebar .menu .list a:hover,.sidebar .menu .list a:visited,.sidebar .menu .list a:link{

  color: #556d79 !important;
}
.theme-purple .card .header h2 strong{ color: #556d79 !important;  }
.theme-purple .card .header h2:before {
    background: #556d79 !important;
}


.profile-header { background: #ffffffc7; }