 .primary-panel-heading { color: #8b99e0; font-size: 20px;    font-weight: 500;    border-bottom: 1px solid #cccccc4a;padding-bottom: 10px; }

    .socialfeed-post-feed-container {}
    .socialfeed-post-feed-container form {}
    .socialfeed-post-feed-container form .socialfeed-post-feed-textarea {     border: 1px solid #d3d3d3;padding: 8px 10px;border-radius: 4px;resize: vertical; }
    .socialfeed-post-feed-container form .emoji-picker-icon { right: 25px; top: 26px; }
    .socialfeed-post-feed-container form .emoji-menu .emoji-items-wrap {    overflow: auto; }
    .socialfeed-post-feed-container form .socialfeed-post-feed-actions { margin-top: 5px; }
    .socialfeed-post-feed-container form #image-preview { width: 100px;height: 100px; margin: 10px 0; display: none; position: relative;}
    .socialfeed-post-feed-container form #image-preview input {position: fixed;left: -500px;}
    .socialfeed-post-feed-container form #image-preview .remove-image { position: absolute; right: 4px; }
    .socialfeed-feed-single-container { margin: 10px 0; }
    .socialfeed-feed-single-container .social-feed-header {    position: relative;     height: 55px; margin-bottom: 5px; }
    .socialfeed-feed-single-container .social-feed-header .socialfeed-feed-user-avatar {  }
    .socialfeed-feed-single-container .social-feed-header .socialfeed-feed-user-avatar img  {  width: 50px;height: 50px;    position: absolute;left: 0; }
    .socialfeed-feed-single-container .social-feed-header .socialfeed-feed-user-name {     position: absolute;left: 65px;font-size: 18px;color: #000;font-weight: 500; }
    .socialfeed-feed-single-container .social-feed-header .socialfeed-feed-username {     position: absolute;left: 65px;top: 28px;color: #878787; }
    .socialfeed-feed-single-container .social-feed-header .socialfeed-feed-timestamp {     position: absolute; right: 0; font-size: 12px; display: flex; color: #878787;    align-items: center; }
    .socialfeed-feed-single-container .social-feed-body { padding-bottom: 15px;  font-size: 16px; }
    .socialfeed-feed-single-container .social-feed-footer {  }
    .socialfeed-feed-single-container .social-feed-footer .social-feed-actions {  }
    .socialfeed-feed-single-container .social-feed-footer .social-feed-post-comment {  }
    .socialfeed-feed-single-container .social-feed-footer .social-feed-post-comment .emoji-picker-icon { right: 20px; }
    .socialfeed-feed-single-container .social-feed-post-comment {}
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container {    background: #c6d3db91;padding: 13px;    max-height: 500px;    overflow-y: auto;}
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment { display: flex;    margin-bottom: 10px; }
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment .user-profile-pic {    margin-right: 5px;}
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment .user-profile-pic img {    width: 45px;}
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment .comment-container {    width: 100%;}
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment .comment-container .user-name { font-weight: bold; }
    .socialfeed-feed-single-container .social-feed-post-comment .feed-comments-container .comment .comment-container .comment-text { margin-top: 5px; }

    .list-thumbnail {  }
    .list-thumbnail .user-avatar { max-width: 65px; }